n8n-workflows/01_master_pipeline.json
{
  "name": "PPTX-Slides: Master Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pptx-generate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "pptx-generate"
    },
    {
      "parameters": {
        "jsCode": "// Validate input from API Gateway\nconst body = $input.first().json.body;\n\nif (!body.prompt || body.prompt.trim() === '') {\n  throw new Error('Prompt is required');\n}\n\nconst jobId = body.job_id || crypto.randomUUID();\nconst hasDocument = !!(body.document_text && body.document_text.trim().length > 0);\nconst wordCount = hasDocument ? body.document_text.split(/\\s+/).length : 0;\n\nreturn [{\n  json: {\n    job_id: jobId,\n    session_id: body.session_id,\n    prompt: body.prompt.trim(),\n    document_text: body.document_text || '',\n    has_document: hasDocument,\n    word_count: wordCount,\n    theme: body.theme || 'auto',\n    output_format: body.output_format || 'pptx'\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pptx_app.jobs (id, session_id, status, current_agent, progress_pct, progress_message, output_format) VALUES ('{{ $json.job_id }}', '{{ $json.session_id }}', 'analyst', 'analyst', 5, 'Đang phân tích tài liệu...', '{{ $json.output_format }}') ON CONFLICT (id) DO UPDATE SET status='analyst', current_agent='analyst', progress_pct=5, progress_message='Đang phân tích tài liệu...'",
        "options": {}
      },
      "id": "db-create-job",
      "name": "DB: Create Job",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [640, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "PPTX Postgres"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-doc-check",
              "leftValue": "={{ $json.has_document }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-document",
      "name": "Has Document?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "CONFIGURE_ME_ANALYSIS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-analysis-doc",
      "name": "Analysis (with doc)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1080, 200],
      "notesInFlow": true,
      "notes": "Sub-workflow: 02_analysis_pipeline\nInput: job_id, prompt, document_text, word_count"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "CONFIGURE_ME_ANALYSIS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-analysis-prompt",
      "name": "Analysis (prompt only)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1080, 420],
      "notesInFlow": true,
      "notes": "Sub-workflow: 02_analysis_pipeline\nInput: job_id, prompt (no document)"
    },
    {
      "parameters": {
        "jsCode": "// Merge results from both branches\nconst data = $input.first().json;\n\n// Update progress\nreturn [{ json: { ...data, status: 'writer', progress_pct: 30 } }];"
      },
      "id": "merge-analysis",
      "name": "Merge Analysis Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pptx_app.jobs SET status='writer', current_agent='writer', progress_pct=30, progress_message='Đang viết nội dung slides...', analyst_result='{{ JSON.stringify($json.analyst_result) }}'::jsonb WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "db-update-writer",
      "name": "DB: Status → Writer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1520, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "PPTX Postgres"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "CONFIGURE_ME_WRITING"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-writing",
      "name": "Writing Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1740, 300],
      "notesInFlow": true,
      "notes": "Sub-workflow: 03_writing_pipeline\nInput: outline, chunk_mapping, chunks"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pptx_app.jobs SET status='designer', current_agent='designer', progress_pct=60, progress_message='Đang thiết kế visual...', writer_result='{{ JSON.stringify($json.slides) }}'::jsonb WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "db-update-designer",
      "name": "DB: Status → Designer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1960, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "PPTX Postgres"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "CONFIGURE_ME_DESIGN"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-design",
      "name": "Design Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2180, 300],
      "notesInFlow": true,
      "notes": "Sub-workflow: 04_design_pipeline\nInput: slides, context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pptx_app.jobs SET status='exporter', current_agent='exporter', progress_pct=80, progress_message='Đang xuất file...', designer_result='{{ JSON.stringify($json.visual_specs) }}'::jsonb WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "db-update-exporter",
      "name": "DB: Status → Exporter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2400, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "PPTX Postgres"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "CONFIGURE_ME_EXPORT"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "call-export",
      "name": "Export Pipeline",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [2620, 300],
      "notesInFlow": true,
      "notes": "Sub-workflow: 05_export_pipeline\nInput: slides, visual_specs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pptx_app.jobs SET status='done', progress_pct=100, progress_message='Hoàn tất!', exporter_result='{{ JSON.stringify($json.file_paths) }}'::jsonb, completed_at=NOW() WHERE id='{{ $json.job_id }}'",
        "options": {}
      },
      "id": "db-complete",
      "name": "DB: Status → Done",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2840, 300],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "PPTX Postgres"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, job_id: $json.job_id, status: 'done', file_paths: $json.file_paths }) }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3060, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Validate Input", "type": "main", "index": 0 }]
      ]
    },
    "Validate Input": {
      "main": [
        [{ "node": "DB: Create Job", "type": "main", "index": 0 }]
      ]
    },
    "DB: Create Job": {
      "main": [
        [{ "node": "Has Document?", "type": "main", "index": 0 }]
      ]
    },
    "Has Document?": {
      "main": [
        [{ "node": "Analysis (with doc)", "type": "main", "index": 0 }],
        [{ "node": "Analysis (prompt only)", "type": "main", "index": 0 }]
      ]
    },
    "Analysis (with doc)": {
      "main": [
        [{ "node": "Merge Analysis Result", "type": "main", "index": 0 }]
      ]
    },
    "Analysis (prompt only)": {
      "main": [
        [{ "node": "Merge Analysis Result", "type": "main", "index": 0 }]
      ]
    },
    "Merge Analysis Result": {
      "main": [
        [{ "node": "DB: Status → Writer", "type": "main", "index": 0 }]
      ]
    },
    "DB: Status → Writer": {
      "main": [
        [{ "node": "Writing Pipeline", "type": "main", "index": 0 }]
      ]
    },
    "Writing Pipeline": {
      "main": [
        [{ "node": "DB: Status → Designer", "type": "main", "index": 0 }]
      ]
    },
    "DB: Status → Designer": {
      "main": [
        [{ "node": "Design Pipeline", "type": "main", "index": 0 }]
      ]
    },
    "Design Pipeline": {
      "main": [
        [{ "node": "DB: Status → Exporter", "type": "main", "index": 0 }]
      ]
    },
    "DB: Status → Exporter": {
      "main": [
        [{ "node": "Export Pipeline", "type": "main", "index": 0 }]
      ]
    },
    "Export Pipeline": {
      "main": [
        [{ "node": "DB: Status → Done", "type": "main", "index": 0 }]
      ]
    },
    "DB: Status → Done": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [{ "name": "pptx-slides" }]
}
